.trfs-event-block-container{
  @include homepage-containers(100px,100px);
  .trfs-container{
    h1{
      text-align: center;
      padding-bottom: 30px;
      margin: 0px;
      @include body-text($color:$trfs-black);
    }
    .events-interface{
      .eventCountDown{
        margin-bottom: 30px;
        @include body-text($color:$trfs-black);
        .countDownTime{
          text-align: center;
          @include breakpoint(xs){
            padding:0px;
          }
          background-color: $trfs-grey;
          color: $trfs-black;
          .timeCount{
            @include breakpoint(md){
              font-size: 5.5rem;
            }
            font-size: 2.5rem;
            line-height: 5rem;
            font-weight: 300;
            text-align: center;
            vertical-align: top;
            border-right: 1px dotted $trfs-white;
            padding-top: 10px;
            margin:0px;
          }
          .timeLabel{
            border-right: 1px dotted $trfs-white;
            padding-bottom: 15px;
            margin: 0px;
            font-size: 11px;
            @include breakpoint(sm){
              font-size: 15px;
              font-weight: 900;
            }

          }
          &:last-child{
            border-bottom-right-radius: 100px;
            border-top-right-radius: 100px;
            .timeCount{
              border: 0px;
            }
            .timeLabel{
              border: 0px;
            }
          }
          &:first-child{
            border-bottom-left-radius: 100px;
            border-top-left-radius: 100px;
          }
        }
      }
      .eventBlock{
        max-height: 420px;
        min-height: 420px;
        cursor: pointer;
        border: 2px double $trfs-grey;
        border-radius: 30px;
        margin-bottom: 0px;
        @include breakpoint(xs){
          margin-bottom: 30px;
        }
        @include breakpoint(sm){
          margin-bottom: 30px;
        }
        &.clickedEventBlock{
          box-shadow: 0 0 40px rgba(0,0,0,1);
        }
        .eventName{
          text-align: center;
          font-family: Metrolox;
          font-weight: bold;
          font-size: 18px;
        }
        .eventDescDate{
          .eventDesc{
            overflow: scroll;
            height: 100px;
            margin-bottom: 10px;
          }
          .eventDate{
            margin-bottom:10px;
          }
        }
        .eventMapContainer{
           + .eventDescDate{
            margin-top: 210px;
          }
          height: 190px;
          position: absolute;
          width: 90%;

          .eventAddress{
            display: block;
            width: 100%;
            height: 100%;
          }
        }
        .eventSnapCode{
          max-width: 35%;    
          margin: 10px;
        }
      }
      .eventPaginationWrapper{
        text-align: center;
        .eventPagination{
          display: inline-flex;
          margin-top: 0px;
          li {
            cursor: pointer;
            margin-left: 15px;
            &:first-child{
              margin-left: 0px;
            }
            .disable{
              cursor: not-allowed;
            }
            a {
              width: 45px;
              height: 45px;
              border-radius: 50%;
              font-size: 22px;
              @include body-text($color:$trfs-black);
            }
          }
          .firstPagination, .previousPagination, .nextPagination, .lastPagination{
            a{
              background-color: $trfs-grey;
            }
          }
          .currentPagination{
            a{
              border: 5px double $trfs-grey;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}